<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주변 회원들</title>
</head>
<style>
    .current-page {
        background-color: lightblue; /* 현재 페이지 버튼에 원하는 색상을 설정하세요 */
        /* 기타 스타일 */
    }
    /* 모달 스타일 */
    .modal {
        display: none; /* 초기에는 숨김 */
        position: fixed; /* 고정 위치 */
        z-index: 1; /* 다른 요소 위에 표시 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* 스크롤 가능 */
        background-color: rgba(0,0,0,0.4); /* 배경 투명도 */
    }

    .modal-content {
        background-color: #fefefe; /* 모달 내용 배경색 */
        margin: 15% auto; /* 중앙 정렬 */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* 모달 너비 */
    }

    /* 닫기 버튼 스타일 */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<body>
<div th:insert="~{layout::header}"></div>
<br>
<label for="radius">반경 선택:</label>
<select id="radius">
    <option value="1">1km</option>
    <option value="3">3km</option>
    <option value="5">5km</option>
    <option value="10">10km</option>
</select>

<div id="nearByMemberList"></div>
<div id="pagination"></div>


<!-- 대화하기 모달 창 -->
<div id="chatModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>선택한 회원: <span id="selectedMemberName"></span></p>
        <a href="#" onclick="createPrivateChatRoom()">대화하기</a>
        <!-- 이하 대화 입력 창 등 추가 요소 -->
    </div>
</div>

</body>

<script>
    // 페이지 로딩시 초기 데이터 요청
    getNearbyMembers();

    // select box 값 변경 이벤트 리스너 추가
    document.getElementById("radius").addEventListener("change", function() {
        getNearbyMembers(); // select box 값 변경시 getNearbyMembers() 호출
    });

    function getNearbyMembers(page = 0, size = 10) {
        const url = new URL('http://localhost:8080/api/member/nearby');
        url.searchParams.append('latitude', sessionStorage.getItem('latitude'));
        url.searchParams.append('longitude', sessionStorage.getItem('longitude'));
        url.searchParams.append('radius', document.getElementById("radius").value);
        url.searchParams.append('page', page);
        url.searchParams.append('size', size);

        fetch(url, {
            method : 'GET',
            headers: {
                'Authorization': 'Bearer ' + sessionStorage.getItem('token')
            }
        })
            .then(response => {
                if (!response.ok) {
                    return response.json().then(data => {
                        throw new Error(data.message);
                    });
                }
                return response.json();
            })
            .then(data => {
                displayNearbyMembers(data); // 데이터를 표시하는 함수 호출
                displayPagination(data); // 페이징을 표시하는 함수 호출
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            })
    }

    function displayNearbyMembers(data) {
        const nearbyMemberList = document.getElementById("nearByMemberList");
        nearbyMemberList.innerHTML = ""; // 기존에 표시된 내용 초기화

        data.content.forEach(member => {
            const anchorTag = document.createElement("a");
            anchorTag.href = "#";
            anchorTag.textContent = member.name; // 사용자명을 표시
            anchorTag.style.display = 'block';
            anchorTag.style.width = 'fit-content';

            // 클릭 이벤트 추가
            anchorTag.addEventListener("click", function() {
                showChatDialog(member.name, member.email); // 대화하기 창 표시 함수 호출
            });

            nearbyMemberList.appendChild(anchorTag);
        });
    }

    function showChatDialog(memberName, memberEmail) {
        // 대화하기 모달 창 요소 가져오기
        const modal = document.getElementById("chatModal");
        // 대화하기 모달 내용 요소 가져오기
        const modalContent = document.querySelector(".modal-content");
        // 선택한 회원 이름 표시 요소 가져오기
        const selectedMemberName = document.getElementById("selectedMemberName");

        // 선택한 회원 이름 업데이트
        selectedMemberName.textContent = memberName;
        selectedMemberName.setAttribute('email', memberEmail);

        // 대화하기 모달 창 표시
        modal.style.display = "block";

        // 닫기 버튼 클릭 시 모달 창 닫기
        const closeButton = document.querySelector(".close");
        closeButton.onclick = function() {
            modal.style.display = "none";
        }

        // 모달 외부를 클릭하면 모달 창 닫기
        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    }

    function displayPagination(data) {
        const paginationDiv = document.getElementById("pagination");
        paginationDiv.innerHTML = ""; // 기존에 표시된 페이징 내용 초기화

        // 현재 페이지 정보
        const currentPage = data.pageable.pageNumber + 1;
        const totalPages = data.totalPages;

        // 이전 페이지 버튼
        const prevButton = document.createElement("button");
        prevButton.textContent = "이전";
        prevButton.addEventListener("click", function() {
            if (currentPage > 1) {
                getNearbyMembers(currentPage - 2); // 이전 페이지 데이터 요청
            }
        });
        paginationDiv.appendChild(prevButton);

        // 페이지 번호 버튼
        for (let i = 1; i <= totalPages; i++) {
            const pageButton = document.createElement("button");
            pageButton.textContent = i;
            pageButton.addEventListener("click", function() {
                getNearbyMembers(i - 1); // 해당 페이지 데이터 요청
            });

            // 현재 페이지에 색상 지정
            if (i === currentPage) {
                pageButton.classList.add("current-page");
            }

            paginationDiv.appendChild(pageButton);
        }

        // 다음 페이지 버튼
        const nextButton = document.createElement("button");
        nextButton.textContent = "다음";
        nextButton.addEventListener("click", function() {
            if (currentPage < totalPages) {
                getNearbyMembers(currentPage); // 다음 페이지 데이터 요청
            }
        });
        paginationDiv.appendChild(nextButton);
    }


    function createPrivateChatRoom() {
        const selectedMemberName = document.getElementById('selectedMemberName');
        console.log(selectedMemberName.textContent)
        if(!selectedMemberName.textContent) return;
        const data = {"name":selectedMemberName.textContent,
                      "receiverEmail": selectedMemberName.getAttribute('email'),
                      "chatRoomType": "PRIVATE"};
        fetch('http://localhost:8080/api/chat/createRoom', {
            method : 'POST',
            headers: {
                'Authorization': 'Bearer ' + sessionStorage.getItem('token'),
                'Content-Type': "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => {
                if (!response.ok) {
                    if (response.status === 409) {
                        return response.json().then(data => {
                            const split = data.message.split('value: ');
                            const roomId = split[1];
                            window.location.href = '/view/chatRoom?id=' + roomId;
                        });
                    }else {
                        return response.json().then(data => {
                            throw new Error(data.message);
                        });
                    }
                }
                return response.json();
            })
            .then(data => {
                window.location.href = '/view/chatRoom?id=' + data.id;
            })
            .catch(error => {
                console.error('There was a problem with your fetch operation:', error);
            })
    }

</script>
</html>
